
body {
    background: url("../images/triviagame.jpg") no-repeat center center fixed;
     background-size: cover; 


}

#Trivia-Game{

    height: 700px;
    margin: 100px 40px 40px 350px;
    width: 900px;
    background-color: cornsilk;
    position: fixed;

}

#title{
    text-align: center;
    color: green;
    font-family: 'Shadows Into Light', cursive;
    font-size: xx-large;
}

    #time {
        font-family: 'Permanent Marker', cursive;
    }
    


